/* *for apps other than winver and run* */
.window {
  min-width: 50vw;
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr;
  resize: both;
}
.window .windowBody {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.window .windowBody iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.window[data-id="About Windows1"] {
  min-height: auto;
  min-width: auto;
  resize: none;
}

.window[data-id="About Windows1"] .windowBody {
  width: 460px;
  height: 390px;
}

.runDialog {
  display: none;
}